{% extends '@OHMediaBackend/base.html.twig' %}

{% block meta_title %}Testimonials{% endblock %}

{% block breadcrumbs %}
  {{ bootstrap_breadcrumbs(
    bootstrap_breadcrumb(bootstrap_icon('quote') ~ ' Testimonials', 'testimonial_index'),
  ) }}
{% endblock %}

{% set can_create_testimonial = is_granted(attributes.create, new_testimonial) %}

{% set create_testimonial_href = path('testimonial_create') %}

{% block actions %}
  {% if can_create_testimonial %}
    <a href="{{ create_testimonial_href }}" class="btn btn-primary">
      {{ bootstrap_icon('plus-lg') }}
      Add Testimonial
    </a>
  {% endif %}
{% endblock %}

{% block main %}
  {% set testimonial_count = testimonials|length %}

  <div class="card">
    <div class="card-body">
      <div class="card-title card-title-with-count">
        <h1 class="card-title-heading">Testimonials</h1>
        <div class="card-title-count">
          {{ bootstrap_badge_primary(testimonial_count) }}
        </div>
      </div>

      {% if testimonial_count %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width:1rem" aria-label="Reorder Rows"></th>
              <th>Author</th>
              <th>Quote</th>
              <th>Shortcode</th>
              <th>Last Updated</th>
              <th aria-label="Row Actions"></th>
            </tr>
          </thead>
          <tbody
            data-sortable
            data-sortable-csrf-name="{{ csrf_token_name }}"
            data-sortable-csrf-token="{{ csrf_token(csrf_token_name) }}"
            data-sortable-url="{{ path('testimonial_reorder_post') }}"
          >
            {% for testimonial in testimonials %}
              {{ _self.table_row(testimonial, attributes) }}
            {% endfor %}
          </tbody>
        </table>

        <small class="d-block">You may also use the shortcode <code>{{ '{{testimonial()}}' }}</code> to output one random testimonial, and <code>{{ '{{testimonials()}}' }}</code> to output all testimonials.</small>
      {% else %}
        <p>
          No testimonials found.
          {% if can_create_testimonial %}
            <a href="{{ create_testimonial_href }}">Click here to add a testimonial.</a>
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% macro table_row(testimonial, attributes) %}
  {% set row_actions = [] %}

  {% if is_granted(attributes.edit, testimonial) %}
    {% set row_actions = row_actions|merge([{
      route: 'testimonial_edit',
      route_params: {id: testimonial.id},
      color: 'secondary',
      icon: 'pencil',
      text: 'Edit Testimonial',
    }]) %}
  {% endif %}

  {% if is_granted(attributes.delete, testimonial) %}
    {% set row_actions = row_actions|merge([{
      route: 'testimonial_delete',
      route_params: {id: testimonial.id},
      color: 'danger',
      icon: 'trash',
      text: 'Delete Testimonial',
      confirm: 'Are you sure you want to delete this testimonial? Clicking OK will take you to a verification step to delete this entry.',
    }]) %}
  {% endif %}

  <tr data-id="{{ testimonial.id }}">
    <td data-handle>{{ bootstrap_icon('arrows-move') }}</td>
    <td>
      {{ testimonial.author }}
      <small class="d-block text-muted">{{ testimonial.affiliation }}</small>
    </td>
    <td class="text-truncate" style="max-width: 200px;">
      {{ testimonial.quote }}
    </td>
    <td>{{ shortcode('testimonial(' ~ testimonial.id ~ ')') }}</td>
    <td>{{ testimonial.updatedAt|datetime }}</td>
    <td>
      {% include '@OHMediaBackend/widget/row_actions.html.twig' with {
        row_actions: row_actions,
      } only %}
    </td>
  </tr>
{% endmacro %}
